{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block addition_meta %}{% endblock %}
    {#    <title>Azure CLI 2.0 Automation</title>#}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'morocco/site.css' %}"/>
</head>
<body>
<nav class="blue-grey z-depth-3">
    <a href='#' class="brand-logo center">{{ title }}</a>
    <ul class="left">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'morocco:index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'morocco:snapshots' %}">Snapshots</a>
        </li>
        {#        <li class="nav-item">#}
        {#            <a class="nav-link" href="{{ url_for('tests') }}">Tests</a>#}
        {#        </li>#}
        {#        {% if current_user.is_authenticated and current_user.is_admin() %}#}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'morocco:manager' %}">Manager</a>
        </li>
        {#        {% endif %}#}
    </ul>
    {#    <ul class="right">#}
    {#        {% if current_user.is_authenticated %}#}
    {#            <li>#}
    {#                <form action="{{ url_for('logout') }}" method="post">#}
    {#                    {{ current_user.id }}#}
    {#                    <input class="btn btn-flat white-text" type="submit" value="Logout">#}
    {#                </form>#}
    {#            </li>#}
    {#        {% else %}#}
    {#            <li>#}
    {#                <form class="form-inline my-2 my-lg-0" action="{{ config['auth_authorization_endpoint'] }}">#}
    {#                    <input type="hidden" name="tenant" value="{{ config['MOROCCO_AUTH_TENANT'] }}">#}
    {#                    <input type="hidden" name="client_id" value="{{ config['MOROCCO_AUTH_CLIENT_ID'] }}">#}
    {#                    <input type="hidden" name="response_type" value="id_token">#}
    {#                    <input type="hidden" name="scope" value="openid">#}
    {#                    <input type="hidden" name="nonce" value="a nonce, should be randomized">#}
    {#                    <input type="hidden" name="redirect_uri"#}
    {#                           value="{{ url_for('signin_callback', _external=True, _scheme='http' if config['is_local_server'] else 'https') }}">#}
    {#                    <input type="hidden" name="response_mode" value="form_post">#}
    {#                    <input type="hidden" name="state" value="">#}
    {#                    <input class="btn teal darken-3 " type="submit" value="Login">#}
    {#                </form>#}
    {#            </li>#}
    {#        {% endif %}#}
    {#    </ul>#}
</nav>
{% block body %}{% endblock %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('select').material_select();
    });
</script>
</body>
</html>